doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Cart
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
.cart2
  .cart3
    .container
      .row
        .col
          a.u-fo(href='./homePage')
            h1 UFARM
        .col(style='text-align: center;')
          h1 Cart
          p
            table#list2.table
              thead
                tr 
                  th(scope='col') Product
                  th(scope='col') Quantity
                  th(scope='col') Price
                  th(scope='col') Checkout
              tbody
              if carts.length 
                each cart in carts
                  tr
                    td #{cart.name}
                    td #{cart.quantity}
                    td #{cart.price*cart.quantity}
                    td
                      a.btn.btn-outline-success(href="/checkout/"+cart._id) Checkout
                 
        .col
script(src='../bootstrap/js/bootstrap.js')
