doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Cart
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
.cart2
  .cart3
    .container
      .row
        .col
        .col
                #offcanvasWithBothOptions.offcanvas.offcanvas-start(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasWithBothOptionsLabel')
                .offcanvas-header
                    h5#offcanvasWithBothOptionsLabel.offcanvas-title Preferrence
                    //- button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                .offcanvas-body
                    div
                    div(style='text-align:left;')
                        fieldset
                            form(action='/checkout?id='+data._id method='POST')
                                div
                                h1 Product
                                // book or order
                                div
                                label(for='') Book
                                input(type='radio' name='status' id='' value='booked')
                                label(for='') Order
                                input(type='radio' name='status' id='' value='ordered')
                                // email
                                div
                                label(for='') Quantity
                                br
                                input(type='number' name='quantity' id='' min='1' max='10' value=1)
                                div
                                label(for='') Email
                                br
                                input(type='email' name='email' id='' placeholder='@')
                                h3 OR
                                // phone number
                                div
                                label(for='') Phone Number
                                br
                                input(type='text' name='phone_number' id='' placeholder='+256')
                                br
                                br
                                button.btn.btn-success(type='submit') Submit
        .col
script(src='../bootstrap/js/bootstrap.js')
