doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FarmerOne
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
#famOne
  #famtwo.container-fluid
    .row
      .col-xs-12.col-lg-3.col-md-3
        a.send(href='fontPage')
          h1 UFARM 
        p.far2 Register FarmerOne to grant them access.
      // form
      #foRegister.col-xs-12.col-lg-6.col-md-6
        h3 Registration Form
        fieldset
          form(action='./farmerOneRegister' onsubmit='return validate3()' method='POST')
            // firstName
            div
              label(for='') firstName
              br
              input#firstname(type='text' name='firstName' style='width: 100%;')
              br
              small#errorFirst
            // secondname
            div
              label(for='') secondName
              br
              input#secondname(type='text' name='secondName' style='width: 100%' )
              br
              small#errorSecond
            // email
            div
              label(for='email') Email
              input#email(type='email' name='email' style='width: 100%')
            // role
            div
              label#role(for='role') Role
              br
              select(name='role')
                option(value='farmerone') farmerone
            // ward
            .wardclass
              label#ward(for='') Select user Ward
              br
              select#users.users(name='user')
                option(value='ward1') Ward 1
                option(value='ward2') Ward 2
                option(value='ward3') Ward 3
                option(value='ward4') Ward 4
            // unique FO number
            div
              input#foNumber(type='password' placeholder='FO number' style='width: 100%' name='password')
              br
              small#error4
            // date of registration
            div
              label(for='regDate') Date of registration
              br
              input#regDate(type='date' name='DOR' style='width: 100%')
              br
              small#error5
            // gender
            div
              label(for='male') Male
              input(type='radio' name='gender' value='male')
              label(for='') Female
              input.yaa(type='radio' name='gender' value='female')
            // activities
            div
              h5 Activities
              label(for='male') Register Urban Farmers
              input(type='checkbox' name='activities' value='Register Urban Farmers')
              br
              label(for='') Inspect and approve  Agricultural Produce
              input.yaa(type='checkBox' name='activities' value='Inspect and approve  Agricultural Produce')
              br
              label(for='') See all bookings and orders
              input.yaa(type='checkbox' name='activities' value='See all bookings and orders')
            // date of birth
            div
              label(for='foBirth') Date of Birth
              br
              input#foBirth(type='date' name=' dobirth' max="2013" style='width: 100%')
              br
              small#error5
            // ninNumber
            div
              input#ninNumber(type='text' placeholder='NIN number' style='width: 100%' name=' ninNumber')
              br
              small#error7
            // phone number
            div
              label(for='') Phone Number
              br
              input#phonenumber(type='number' name='phonenumber' style='width: 100%')
              br
              small#error8
            // location
            div
              label(for='residence') Place of Residence
              br
              input#residence.residence(type='text' name='  placeOfResidence' style='width: 100%')
              br
              small#error9
            // resdence type
            div
              label(for='residenceType') Residence Type
              br
              input#residenceType.residencetype(type='text' name='residenceType' style='width: 100%')
              br
              small#error10
            // period of stay in ward
            div
              label(for='') Period of Stay in Ward
              br
              input#periodOfStay(type='number' name=' periodOfStay' min="10")
              br
              small#error11  Above 10 years
            button.sub(type='submit') SUBMIT
      .col-xs-12.col-lg-3.col-md-3
script(src='../index.js')
script(src='../bootstrap/js/bootstrap.js')
