doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FarmerOne
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
#famOne
  #famtwo.container-fluid
    .row
      .col-xs-12.col-lg-3.col-md-3
        a.send(href='../Main/fontPage.html')
          h1 UFARM 
        p.far2 Register FarmerOne to grant them access.
      // form
      #foRegister.col-xs-12.col-lg-6.col-md-6
        h3 Registration Form
        fieldset
          form(action='' method='')
            // firstName
            div
              label(for='') firstName
              br
              input(type='text' name='firstName' style='width: 100%;')
              br
              small#errorFirst
            // secondname
            div
              label(for='') secondName
              br
              input(type='text' name='secondName' style='width: 100%' ;='')
              br
              small#errorSecond
            // ward
            div
              label(for='ward1') Ward 1
              input#ward1(type='radio' name='ward')
              label(for='ward2') Ward 2
              input#ward2(type='radio' name='ward')
              label(for='ward3') Ward 3
              input#ward3(type='radio' name='ward')
              label(for='ward4') Ward 4
              input#ward4(type='radio' name='ward')
              br
              small#error3
            // unique FO number
            div
              input#foNumber(type='text' placeholder='FO number' style='width: 100%')
              br
              small#error4
            // date of registration
            div
              label(for='regDate') Date of registration
              br
              input#regDate(type='date' name='date of registration' style='width: 100%')
              br
              small#error5
            // gender
            div
              label(for='') Male
              input(type='radio' name='gender')
              label(for='') Female
              input.yaa(type='radio' name='gender')
            // date of birth
            div
              label(for='foBirth') Date of Birth
              br
              input#foBirth(type='date' name='fobirth' style='width: 100%')
              br
              small#error5
            // activities involved
            div
              label(for='' style='font-weight: 600;') Activities
              br
              input(type='checkbox' name='' id='')
              | Register Urban Farmers 
              br
              input(type='checkbox' name='' id='')
              | Inspect produce 
              br
              input(type='checkbox' name='' id='')
              | Approve Produce
              br
              input.yaa(type='checkbox' name='' id='')
              |  See bookings and orders
              br
              small#error6
            // nin
            div
              input(type='text' placeholder='NIN number' style='width: 100%')
              br
              small#error7
            // phone number
            div
              label(for='') Phone Number
              br
              input(type='number' name='' id='' style='width: 100%')
              br
              small#error8
            // location
            div
              label(for='residence') Place of Residence
              br
              input#residence.residence(type='text' name='place of residence' style='width: 100%')
              br
              small#error9
            // resdence type
            div
              label(for='residenceType') Residence Type
              br
              input#residenceType.residencetype(type='text' name=' residence type' style='width: 100%')
              br
              small#error10
            // period of stay in ward
            div
              label(for='') Period of Stay in Ward
              br
              input(type='number' id='')
              br
              small#error11  Above 10 years
            button.sub SUBMIT
      .col-xs-12.col-lg-3.col-md-3
script(src='../index.js')
script(src='../bootstrap/js/bootstrap.js')
