doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title  Home Page
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
#famOne1
  #famtwo2.container-fluid
    .row
      .col
        p
          | Register a Farmer One 
          button REGISTER
        div
          h3 Registered Farmer Ones
         
        // new
        div
          h3 Appoint New Farmer One
link(rel='stylesheet' href='../index.js')
link(rel='stylesheet' href='../bootstrap/js/bootstrap.js')
