doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home Page
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='../style.css')
.home-page-1
  .home-page-2
    .container-fluid
      .row
        #col-1.col
          // container 1
          .container-fluid(style='position:-webkit-sticky;')
            .row
              // brand name
              #brand-name.col-md-3
                i.fa-brands.fa-pagelines(style='color: green')
                a(href='fontPage' style='color: green;text-decoration: none;')  UFARM
              // bootstrap nav bar
              .col(style='background-color: none;')
                nav.navbar.navbar-expand-lg.bg-body-tertiary
                  .container-fluid
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                      span.navbar-toggler-icon
                    #navbarNavAltMarkup.collapse.navbar-collapse
                      .navbar-nav
                        a.nav-link.active(aria-current='page' href='#' style='color: green;') Home
                        a.nav-link.active(href='#' style='color: green;') Features
                        a.nav-link.active(href='#' style='color: green;') Pricing
                        a.nav-link.active(href='' style='color: green;') Disabled
              // shopping cart and user
              #cart.col-md-3
                div
                 a(href="./cart")
                  i#shop-cart.fa-solid.fa-cart-shopping
                  label#count 0
                div
                  label
                    i#shop-cart.fa-solid.fa-user
                    | Account
          // end of container 1
          // begining of conatiner 2
          #homepage-cont.container
            .row
              .col-lg-3
              .col-lg-6
                input#input-homepage(type='text' placeholder='what do you want?')
                button(style='background-color: green; color: white;') search
              .col-lg-3
          // end of container 2
    // beginning of container 3
    .container-fluid
      #cont3-homepage.row
        .col ...
        #center-objects.col
          h5 ORGANIC FOOD
          h1(style='color: black;') Looking for the fresh Organic Food 
          button(style='background-color: green;color: white;') SHOP NOW
        .col ...
    // end of container 3
    // begin container 4
    .container-fluid
      #icon-group.row
        .col
          h1.icon1
            i.fa-sharp.fa-solid.fa-truck-fast(style='font-size: 20px;')
          h2(style='font-size: 20px;') Shipping
          p around the world
        .col
          h1.icon1
            i.fa-solid.fa-headset(style='font-size: 20px;')
          h2(style='font-size: 20px;') Support 24/7
          p We support 24hrs a day
        .col
          h1.icon1
            i.fa-solid.fa-money-bill(style='font-size: 20px;')
          h2(style='font-size: 20px;') Payment
          p flexible
        .col
          h1.icon1
            i.fa-solid.fa-shield-halved(style='font-size: 20px;')
          h2(style='font-size: 20px;') Payment Secure
          p different options 
    // end container 4
    // begin container 5
    #categories.container-fluid
      .row
        #cont-pic.col
          h1 Top categories
          .container
            #catego.row
              #carouselExampleAutoplaying.carousel.slide(data-bs-ride='carousel')
                .carousel-inner
                  .carousel-item.active
                    img#live.rounded.float-start(src='../images/drinks.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/cabbage.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/meats.jpg' alt='...')
                  .carousel-item
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                  .carousel-item
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                    img#live.rounded.float-start(src='../images/eggs.jpg' alt='...')
                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.visually-hidden Previous
                button.carousel-control-next(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.visually-hidden Next
    // end container 5
    if data.length 
      each product in data
        .container
          .row
            #trend4.col-sm-4
              #trend.card(style='width: 18rem;')
                img.card-img-top(src=product.image alt='...')
                .card-body
                  h5.card-title #{product.name}
                  p.
                    #{product.price} UGx
                  form(action='/homepage' method="POST")  
                      input(type='hidden' name='qtn' value=product._id)
                      input.btn.btn-primary(type='submit' value="add to cart")
                      //- a.btn.btn-primary(type='submit') Add to Cart
  
script(src='../index.js')
script(src='../bootstrap/js/bootstrap.js')
