doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
.register2
  #register-div2
    .container-fluid
      .row
        #register-col-1.col
          a#register-col-1(href='../Main/fontPage.html') UFARM
        #register-row.col
          // form
          form#form1.form2(action='' onsubmit='' method='post')
            h1 Registration Form
            input.firstName(type='text' placeholder='First name')
            input.secondName(type='text' placeholder='Second name')
            input.Email(type='text' placeholder='Email')
            input.password(type='password' placeholder='Password')
            input.confirmPassword(type='password' placeholder='Confirm Password')
            input.location(type='text' placeholder='Location')
            br
            // gender
            label(for='') Male
            input#check1(type='radio' name='gender' for='check1')
            label(for='') Female
            input#check2(type='radio' name='gender' for='check2')
            br
            label(for='') Select user Type
            br
            select#users.users(name='user')
              option(value='Customer') Customer
              option(value='Agricultural Officer') Agricultural Officer
            br
            button#register-submit(type='submit' value='register') Submit
        .col
script(src='../index.js')
script(src='../bootstrap/js/bootstrap.js')