doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../bootstrap/css/bootstrap.css')
.register2
  #register-div2
    .container-fluid
      .row
        #register-col-1.col
          a#register-col-1(href='./fontpage') UFARM
        #register-row.col
          // form
          form#form1.form2(action='./register' onsubmit='return validate()' method='POST')
            h1 Registration Form
            // first name
            div
              input#sure.firstName(type='text' placeholder='First name' name='firstName')
            // secondname
            div
              input#secondName.secondName(type='text' placeholder='Second name' name='secondName')
            // email
            div
              input#email.Email(type='text' placeholder='Email' name='email')
            // password
            div
              input#password.password(type='password' placeholder='Password' name='password')
            // cormfirm password
            div
              input#confirmPassword.confirmPassword(type='password' placeholder='Confirm Password' name='confirmPassword')
              br
              small#err
            // location
            div
              input#location.location(type='text' placeholder='Location' name='location')
              br
            // gender
            div
              label(for='Male') Male
              input#check1(type='radio' name='gender' value='male' for='check1')
            div
              label(for='Female') Female
              input#check2(type='radio' name='gender' value='female' for='check2')
              br
              small.error
            // select Role
            div
              label(for='') Select user Type
              br
              select#users.users(name='role')
                option(value='Customer') Customer
                option(value='Agricultural Officer') Agricultural Officer
              br
            // submit
            button#register-submit(type='submit') Submit
        .col
script(src='../bootstrap/js/bootstrap.js')
script(src='./index.js')
